<h1>Payment Information and @dvertising Development (Platform)</h1>
<div class="home_text">
<p>
<h3>Pi@d is creating a network of hyper-targeted, proximity-based digital advertising solutions and mobile payment technologies, powered by a novel combination of RFID and Internet Protocol based technology. Interested in partnering or just learning more about us? Just <%= link_to "drop us a line", "mailto:contact@piad.co" %>.</h3>
</p>
<p>
<h3>Or, <%= link_to "sign up", new_contact_path %> to get updates as we make mobile commerce something more exciting than holding your phone up to a barcode scanner.</h3>
</p>
</div>